<div class="container p-2 d-flex align-items-center" style="height: 100vh;justify-content: center;">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded " style="max-width: 80vw">
        <div class="card-body">
            <h4 class="text-center">INGRESA</h4>
            <hr>
            <form>
                <div class="mb-3">
                  <label for="email" class="form-label">
                    <b>
                        Correo
                    </b>
                </label>
                  <input name="email" type="email" class="form-control" id="email"  [(ngModel)]="email" aria-describedby="escribe tu correo">
                  <div id="escribe tu correo" class="form-text">Tus datos son privados</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">
                        <b>
                            Contraseña
                        </b>
                    </label>
                  <input name="password" type="password" class="form-control" id="password" [(ngModel)]="password">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="recuerdame"  >
                  <label class="form-check-label" for="recuerdame">Recuérdame</label>
                </div>
                <div class="col-12 text-center">
                    <button (click)="submit()" type="submit" class="btn btn-primary">
                        <b>Submit</b>
                    </button>
                </div>
              </form>
        </div>
    </div>
</div>