<div class="container">
    <h4 class="text-center mb-4">
        DATOS COMPRA
    </h4>
    <div *ngIf="mostrarProductos" class="row">
        <div *ngFor="let producto of venta.producto_venta_cantidad" class="producto">
            
            <div class="row">
                <div class="col-4">
                    <span>
                        {{ productos[producto.producto_id].nombre }}
                    </span>
                </div>
                <div class="col-4">
                    <span>
                        {{producto.cantidad}} Unidades
                    </span>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <span>
                       {{producto.subtotal  | currency:"CLP":"$ " }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12 mb-4 d-flex justify-content-end">
            <b class="text-muted">
                Total Compra:&nbsp; 
            </b>
            <span>
                {{ venta.total |  currency:"CLP":"$ " }}
            </span>
        </div>
    </div>

    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" >
        <div class="card-body">
            <div class="row pt-4">
                <h6 class="text-center mb-4">
                    <b>
                        Estado de la compra
                    </b>
                </h6>
                <hr>
            </div>
            <div class="row">
                <!-- Componente FlujoCompra -->
                <app-flujo-compra [pasos]="pasos"></app-flujo-compra>
            </div>
        </div>
      </div>
</div>