
<div class="container p-4 mb-4">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-underline">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page"  (click)="subNavegar('EditarPasosProductivos')" 
                  [ngClass]="{active: subnavegacion['EditarPasosProductivos'] }">Configuracion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  (click)="subNavegar('miCuenta')"
                  [ngClass]="{active: subnavegacion['miCuenta'] }">Mi cuenta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  (click)="subNavegar('password')">Password</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Premium</a>
                </li>
              </ul>
        </div>
    </div>
</div>



<div class="row"  *ngIf="subnavegacion['EditarPasosProductivos']">
    <div class="col-12 d-flex justify-content-center">
        <app-pasos></app-pasos>
    </div>
</div>

<div class="row" *ngIf="subnavegacion['miCuenta']">
  <div class="col-12">
    <app-mi-cuenta></app-mi-cuenta>
  </div>
</div>