.listado-productos {
    max-height: 30vh;
    overflow: auto;
}

.boton-cerrar {
    cursor: pointer;
}

.lateral {
    min-height: 100vh;
}

.contenedor-lista_lateral {
    height: 32vh;
}

.puntero {
    cursor: pointer;
}