
<div class="container p-4">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">
                <b>
                    Bienvenido
                </b>
            </h4>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-4 text-center">
            <button (click)="navegar('ventas')" class="btn btn-primary">
                Nueva Venta
            </button>
        </div>
        <div class="col-4 text-center">
            <button (click)="navegar('clientes')" class="btn btn-primary">
                Nuevo Cliente
            </button>
        </div>
        <div class="col-4 text-center">
            <button (click)="navegar('productos')" class="btn btn-primary">
                Nuevo Producto
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-4 text-center">
            <button (click)="navegar('configuracion')" class="btn btn-primary">
                Configuraciones
            </button>
        </div>
        
    </div>


</div>